<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>oauthclient_000095PPI6KKccwMA1TKoj</string>
	<key>clientSecret</key>
	<string>mO/NENvqxrc4Pbmm4yvJWLFfKZ/49CgDHbrY5NknDTnprbXbvgDag6QtXYWWv5bB8UuZ3NIPPyeNf7uVXML6</string>
</dict>
</plist>
